#==========================================================================
# osx noise
#==========================================================================
.DS_Store
profile

#==========================================================================
# windows noise
#==========================================================================
Thumbs.db
Desktop.ini

#==========================================================================
# old skool
#==========================================================================
CVS
.svn

#==========================================================================
# xcode noise
#==========================================================================
build/
xcuserdata/
*.xcworkspace/
*.mode1v3
*.mode2v3
*.pbxuser
*.perspective
*.perspectivev3

#==========================================================================
# rails noise
#==========================================================================
# DON'T forget to touch tmp/.gitignore and log/.gitignore
#==========================================================================
config/database.yml
db/*.sqlite3
doc/api
doc/app
log/*.log
*.log
*.pid
tmp/**/* # individual files as well as subdirectories

#==========================================================================
# textmate noise
#==========================================================================
*.tmproj
*.tm_build_errors

#==========================================================================
# visualstudio noise
#==========================================================================
bin
obj
*.user
*.suo
*.ncb

#==========================================================================
# other noise
#==========================================================================
*.swp
*~.nib
AppleBots.app
